#!/bin/bash

logger "Loading $0"

function runXmodmapConfig() {
	logger "${FUNCNAME[0]}: Loading Custom Xmodmap configuration" 
	xmodmap ~/.Xmodmap
}

function installZshAutojump() {
	if ! [ -x "$(command -v autojump)" ]; then
		sudo apt install autojump
	fi
}

installZshAutojump
runXmodmapConfig
